<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gt.storage">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="${secureSearchPermission}"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.gt.ui.AppSyncApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSync">

        <activity
            android:name="com.gt.ui.application.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppSync">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gt.ui.search.InputCatcherActivity"
            android:exported="true"
            android:theme="@style/Theme.AppSync"
            android:permission="${secureSearchPermission}">
            <intent-filter>
                <action android:name="${secureSearchPermission}" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>